#include <windows.h>
#include "version.h"

IDI_ICON1    ICON    DISCARDABLE    "trtl.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION APP_VER_MAJOR,APP_VER_MINOR,APP_VER_REV,APP_VER_BUILD
  PRODUCTVERSION APP_VER_MAJOR,APP_VER_MINOR,APP_VER_REV,APP_VER_BUILD
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "000004b0"
      BEGIN
        VALUE "CompanyName",      PROJECT_SITE
        VALUE "FileDescription",  PROJECT_NAME " Miner " PROJECT_VERSION_LONG
        VALUE "FileVersion",      PROJECT_VERSION_BUILD_NO
        VALUE "LegalCopyright",   PROJECT_COPYRIGHT
        VALUE "OriginalFilename", "miner.exe"
        VALUE "ProductName",      PROJECT_NAME
        VALUE "ProductVersion",   PROJECT_VERSION
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x0, 1200
    END
  END

